<main class="grow flex flex-col">
  <app-banner></app-banner>
  <div class="px-[16.5rem]">2</div>
  <app-show-case class="px-[16.5rem]">
  </app-show-case>
  <app-service-case class="px-[16.5rem]"></app-service-case>
  <app-banner></app-banner>
  <app-show-popular-categories class="px-[16.5rem]">
  </app-show-popular-categories>
  <app-commercial-break class="px-[3rem]">
  </app-commercial-break>
  <app-i-frame class="px-[3rem]"> </app-i-frame>
  <app-reviews></app-reviews>
  <app-video-reviews class="px-[16.5rem]"></app-video-reviews>
  <app-new-articles></app-new-articles>
  <app-popular class="px-[16.5rem]"></app-popular>
</main>
<!-- git add -A && git commit -m 'Создать структуру главной header, footer и home-page' & git push -->
