<div class="flex flex-col  px-[16.5rem] border">
  <div class="flex">
    <p>Оставьте свою почту и станьте первым, кто получит скидку на новые самокаты</p>
    <app-input></app-input>
    <app-button></app-button>
  </div>
  <div>2</div>
  <div class="flex">
    <app-logo></app-logo>
    <app-button></app-button>
  </div>
  <div class="flex">
    <app-nav-item></app-nav-item>
    <app-nav-item></app-nav-item>
    <app-pay-cards></app-pay-cards>
    <div class="flex">
      <p>Online чат: </p>
      <app-social-nav></app-social-nav>
    </div>
  </div>
</div>