<div class="flex flex-col min-h-[100vh] max-w-[144rem] mx-auto">
  <app-header></app-header>
  <app-home-page class="grow"></app-home-page>
  <app-footer class="shrink-0"></app-footer>
</div>

<!-- Настроить rem
и значения по умолчанию в tailwind.config.js
-->
<!-- ng g c components/organisms/phoneNumbersSection --skip-tests -->
<!-- ng g d directives/outside -->
<!-- ng g c components/molecules/cardAdvantage --skip-tests -->
<!-- ng g c components/atoms/iFrame --skip-tests -->
<!-- ng g c pages/homePage --skip-tests -->
<!-- ng g c pages/homePage --skip-tests -->
