@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Jost;
    font-weight: 400;
    font-display: swap;
    src: url('../src/assets/fonts/Jost-Regular.woff') format("woff");
  }
  @font-face {
    font-family: Jost;
    font-weight: 500;
    font-display: swap;
    src: url('../src/assets/fonts/Jost-Medium.woff') format("woff");
  }
  @font-face {
    font-family: Jost;
    font-weight: 600;
    font-display: swap;
    src: url('../src/assets/fonts/Jost-SemiBold.woff') format("woff");
  }
  @font-face {
    font-family: Jost;
    font-weight: 700;
    font-display: swap;
    src: url('../src/assets/fonts/Jost-Bold.woff') format("woff");
  }
}